$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

//set text-color based on th ebackground
@function set-text-color($color) {
  @if (lightness($color) >60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//set background and text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

//margin and padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  //all around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  //vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  //all around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  //vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
